{% include './componentsCli/head.html.twig'%}

<div class="row">
    {% include './componentsAdmin/sideBarAdmin.html.twig' %} 
    {% block body %}{% endblock %}
</div>
    {% block javascripts %}{% endblock %}


    </body>
</html>