<nav class="navbar navbar-dark bg-dark maNavBar">

    <div class="bg-dark col-12 ">
        <div class="d-flex align-items-center justify-content-around  ">


            <ul class="ulNavBar">
                <li class="text-white "><a href="{{ path('home') }}" class="liste">Accueil</a></li>
                <li class="text-white "><a href="{{ path('project') }}" class="liste">Mes projets</a></li>
                <li class="text-white "> <a href="" class="liste">Mes compétences</a></li>
                <li class="text-white "> <a href="" class="liste">Mes articles</a></li>
                <li class="text-white "> <a href="" class="liste">Me contacter</a></li>

            </ul>
            <a class="lienStyle" href="{{ path('login') }}"><i class=" fas fa-sign-in-alt fa-2x"></i></a>
        </div>
    </div>




</nav>