{% extends '/componentsAdmin/baseAdmin.html.twig' %}

{% block body %}
<div class="col-9">


 <table class="table ">
        <tbody>
            <thead>
                <th></th>
                <th></th>
                <th>Nom de la compétence (skill)</th>
                <th>Image</th>

            </thead>
                {% for skill in skills %}
            <tr >
                <td class="pt-4"><a class="ul" href="{{ path('modProject', {"id" : skill.id}) }}">Modifier</a></td>
                <td class="pt-4"><a class="ul" href="{{ path('supProject', {"id" : skill.id}) }}">Supprimer</a></td>
                <td  class="pt-4">{{ skill.name  }}</td>
                <td  class="pt-4"><img src="{{ skill.image }}" alt="" style="width:5em"></td>

           </tr>
           
               {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}