{% include './componentsCli/head.html.twig'%}

{% if app.request.get('_route') == 'dashboard' or app.request.get('_route') == 'addProject' %}
{% else %}
   {% include './componentsCli/navbar.html.twig' %}
{% endif %}


        {% block titre %}{% endblock %}
        {% block body %}{% endblock %}
        {% include './componentsCli/footer.html.twig' %}
        {% block javascripts %}{% endblock %}
        
    </body>
</html>
