{% extends 'base.html.twig' %}

{% block titre %}Home{% endblock %}
{% block body %}
    <h4>Ceci est la home page</h4>
    <h1>Mes skills : </h4>

    {% for skill in skills %}

    {{ skill.name  }}

    {% endfor %}
{% endblock %}